# Ambiente Local
NODE_ENV=development
PORT=3000

# Base de Dados (Placeholder)
DATABASE_URL=postgres://user:password@localhost:5432/tcc_db

# Segredos (JWT)
JWT_SECRET=sua-chave-super-secreta-para-local
JWT_EXPIRES_IN=7d
